

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}




body {
  font-family: 'Great Vibes', cursive;
}

h1, form {
  font-family: 'Great Vibes', cursive;
}


h1 {
  font-size: 500%;
  }

h2, h3 {
  font-size: 280%;
  
} 

body {
  background-image: url(Image/background42.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 125%;
  font-family: 'Great Vibes', cursive;
  }
/* .nav {
  padding: 80px 25px 80px 30px;
  font-size: 24px;
  text-align: center;
} */


input[type=submit] {
  padding:5px 15px; 
  background:rgb(54, 181, 37);
  color: white; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

input[type=text] {
  display: block;
  padding:5px 15px; 
  /* background:rgb(54, 181, 37);
  color: white;  */
  border:0 none;
  
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}